{% extends 'base.html.twig' %}

{% block title %}
    Add a new series | {{ parent() }}
{% endblock %}



{% block body %}
    <div>
        <h2>Create</h2>

        {{ form_start(serieForm) }}
        {{ form_widget(serieForm) }}
        <button>Create serie</button>
        {{ form_end(serieForm) }}
    </div>
{% endblock %}

