{% extends 'base.html.twig' %}

{% block title %}
    todo afficher le titre de la serie | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo : le titre de la serie</h2>

    {# todo : afficher toutes les infos de la serie #}

{% endblock %}

