{% extends 'base.html.twig' %}

{% block body %}
    <section class="series-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('serie_details', {'id': serie.id}) }}" title="View serie's details">
                    <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    The best series | {{ parent() }}
{% endblock %}

